
@media screen and (max-width: 1800px){
//    .header__main-idea{
//        .main-idea__txt{
//            padding-left: 115px;
//        }
//    }
}
@media screen and (max-width: 1600px){
    .conditions{
        &__items{
        .flex-block{
            text-align:stretch;
                &__item{
                    margin-right: 50px;
                    margin-left: 50px;
                }
            }
        }
    }
}
@media screen and (min-width: 1600px){
    .store-pics__brands {
        width: 1840px;
    }
    .store-pics .store-grid {
        max-width: 1840px;
    }
}
@media screen and (min-width: 1521px){
    .insta__pics{
        max-width: calc(1520px + 10%);
        padding: 0 0%;
        margin: 0 auto;
    }
}
// end store-list section
@media screen and (max-width: 1400px){
    .nav-menu{
        opacity: 0;
        li{
            opacity: 0;
        }
    }
    .menu__btn{
        // display: block!important;
        cursor: pointer;
        transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
        z-index: 12;
        div{
            background-color: transparent;
            border: none;
            color: #222123;
            height: auto;
            min-width: 0;
            padding: 0;
            align-items: center;
            vertical-align: middle;
            height: 2px;
            width: 28px;
            border-bottom: 1px solid #333;
            margin-bottom: 4px;
        }
    }
    .toggle .line1{
        transform: rotate(-90deg);
        transform-origin: 71%;
    }
    .toggle .line2{
        transform: rotate(90deg);
    }
    .menu-active{
        transform: translateX(0);
    }
    .header__main .aside-menu{
        top: -20px;
    }
    .header, .header__main-logo {
        margin-bottom: 75px;
    }
    .header__top{
        margin-bottom: 10px;
        .social-list {
            padding: 32px 0;
        }
    } 
    .works{
        margin-bottom: 100px;
    }
    .store-pics {
        margin-top: 40px;
        .store-grid {
            margin: 2em 3em;
        }
    }
    .store-list {
        padding-bottom: 60px;
    }
    // TEAM PAGE
    .header-team, .list {
        margin-bottom: 100px;
    }
    .about{
        margin-bottom: 10px;
        .breadcrumbs{
            margin-bottom: 30px;
        }
    }
    .insta {
        margin-bottom: 80px;
        .breadcrumbs{
            margin-bottom: 45px;
        }
    }
    // ORDER page
    .order, .faq{
        padding: 1em;
    }
    .faq{
        padding-top: 2em;
        .faq-accordion {
            margin-bottom: 50px;
        }
    }
    .contacts {
        padding: 60px 0;
        &__inner{
            padding-top: 60px;
        }
    }
}
@media screen and (max-width: 1366px){
    .cursor{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    .contacts .flex-block__item{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .customer-care{
            margin-bottom: 25px;
        }
    }
    .contacts {
        padding: 60px 0 20px;
        &__inner {
            padding-top: 85px;
        }
    }
}
@media screen and (max-width: 1025px){
    .viber__btn{
        right: 55px;
    }
    .flex-block__img{
        display: none;
    }
    .flex-block__img-xs{
        display: block!important;
    }
    .store-pics {
        margin-top: 10px;
    }
    .store-pics__brands .brands__letter-index .index-list {
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .team__item .team__photo-last:after {
        top: 40%;
        left: 38%;
        width: 16px;
        height: 16px;
        font-size: 50px;
    }
}
@media screen and (max-width: 960px){
    .header__top-inner{
        display: list-item;
        .promo-slider{
            margin-top: 10px;
        }
    }
    .footer .info-icon {
        margin-left: 25px;
        margin-top: 25px;
    }
    .footer__content {
        justify-content: center;
        .info-icons{
            line-height: 27px;
        }
    }
    .viber__btn{
        bottom: 71px;
    }
    .conditions__items .flex-block{
        margin: 0 1em;
        &__item {
            margin-right: 50px;
            margin-left: 0;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .insta__pics {
        margin: 0;
    }
    .insta__pics-content{
        a, span{
            line-height: 14px;
            font-size: 12px;
        }
    }
    .store-list {
        padding-bottom: 40px;
    }
    .faq {
        padding-top: 0em;
    }
    .footer__box .faq-accordion {
        max-width: 40%;
    }
}
@media screen and (max-width: 840px){
    .footer__content {
        justify-content: end;
    }
}
@media screen and (max-width: 800px){
    .header__top {
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 768px){
    h1, .logo-subtitle {
        padding-left: 0;
    }
    .header{
        margin-bottom: 50px;
    }
    .header__top .social-list {
        padding: 24px 0;
    }
    .header__main a .logo-title span {
        left: 75%;
    }
    .header__top {
        margin-bottom: 20px;
    }
    .header__main .aside-menu {
        .nav-menu__one{
            width: 50%;
        }
        .nav-menu__two{
            width: 75%;
        }
        .nav-menu__three{
            width: 55%;
        }
        .nav-menu li a span {
            margin-right: 25px;
        }
    }
    .header__main-idea .main-idea__txt {
        letter-spacing: 0.01em;
        font-size: 20px;
        padding-left: 70px;
    }
    .conditions__items .flex-block__item span{
        font-size: 14px;
    }
    .viber__btn{
        right: 40px;
    }
    .insta .customer-care span {
        font-size: 16px;
    }
    .insta .customer-care a {
        font-size: 17px;
    }
    .insta__pics-content{
        a, span {
            line-height: 14px;
            letter-spacing: 0.001em;
        }
    } 
    
}
@media screen and (max-width: 720px){
    .team__wrapper{
        flex-flow: inherit;
    }
    .team__item {
        margin: 0 -20px 200px;
        width: 60%;
        &__last{
            place-content: flex-end;
            flex-direction: none;
        }
    }
    .list {
        margin-bottom: 60px;
    }
    .footer__box .faq-accordion {
        max-width: 35%;
    }
}
@media screen and (max-width: 688px){
    h1{
        font-size: 30px;
    }
    .header__main a .logo-subtitle{
        font-size: 13px;
    }
    .header__main a .logo-title span{
        font-size: 47px;
        left: 69%;
    }
    .header__main{
        padding-top:10px;
        .aside-menu {
            .nav-menu__one{
                width: 55%;
            }
            .nav-menu li a span {
                margin-right: 15px;
            }
        }
    } 
    .header__main-idea .main-idea__txt {
        font-size: 19px;
        padding-left: 61px;
    }
    .team__item h4 {
        font-size: 24px;
    }
    .footer__content .info-icons {
        line-height: 27px;
        width: 125px;
    }
    .footer .info-icon {
        margin-top: 15px;
    }
    .footer {
        padding-top: 40px;
        &__content{
            padding-bottom: 40px;
        }
    }
    .conditions__inner {
        padding: 50px 0 10px;
    }
    .conditions__items .flex-block{
        flex-wrap: wrap;
        .flex-block__item{
            flex: auto;
            margin-right: 0;
            margin-bottom: 50px;
        }
    }
    .footer__box {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        height: auto;
        .txt-block{
            max-width: 100%;
            margin: 1.5em 1em;
        }
        .faq-accordion {
            max-width: 50%;
            margin-bottom: 2em;
        }
    }
}
@media screen and (max-width: 620px){
    .header__main{
        padding-top: 50px;
        .aside-menu {
            .nav-menu__one{
                width: 59%;
            }
        }
    } 
    .team__item .team__photo-last {
        width: 28%;
    }
    .team__item .team__photo-last:after {
        font-size: 45px;
    }
    .insta__pics{
        flex-wrap: wrap;
        &-inner{
            width: 45%;
        }
    }
}

@media screen and (max-width: 600px){
    .conditions__items .flex-block{
        .flex-block__item{
            width: 100%;
        }
    }
    .footer__content {
        justify-content: space-between;
        .info-icons{
            align-self: flex-start;
        }
    }
    
    // .logo-small {
    //     display: none;
    // }
}
@media screen and (max-width: 568px){
    h1{
        font-size: 28px;
    }
    .header__main{
        padding-top: 15px;
        .aside-menu {
            .nav-menu__one{
                width: 58%;
            }
            .nav-menu li a span {
                font-size: 16px;
            }
        }
    } 
    .team__item {
        margin: 0 -34px 200px;
        width: 66%;
    }
    .team__item .team__photo-last:after {
        font-size: 40px;
    }
    .insta {
        margin-bottom: 60px;
        .customer-care{
            justify-content: flex-end;
            span{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 530px){
    .insta__pics{
        &-inner{
            width: 44%;
        }
    }
    .store-list .store-list__big{
        .big-list{
            span{
                display: block;
            }
        }
    }
    .footer__box {
        .txt-block{
            max-width: 100%;
        }
        .faq-accordion {
            max-width: 70%;
        }
    }
   
}
@media screen and (max-width: 490px){
    h1{
        font-size: 25px;
    }
    .header__main{
        padding-top: 17px;
        .aside-menu {
            .nav-menu{
                height: 44px;
                a{
                    line-height: 21px;
                }
            }
            .nav-menu__one{
                width: 62%;
            }
            .nav-menu__two, .nav-menu__three{
                padding-top: 11px;
            }
        }
    } 
    .store-pics {
        margin-top: 0px;
        &__brands{
            margin: 0 2em;
        }
    }
    .team__item {
        margin: 0 -30px 200px;
        width: 69%;
    }
    .team__item .team__photo-last:after {
        font-size: 38px;
    }
}
@media screen and (max-width: 460px){
    h1{
        font-size: 25px;
    }
    .header__main{
        padding-top: 23px;
        a .logo-title {
            line-height: 40px;
        }
        a .logo-subtitle{
            font-size: 12px;
        }
        .aside-menu {
            .nav-menu__one{
                width: 66%;
            }
        }
    } 
    .team__item .team__photo-last {
        width: 30%;
    }
    .order{
        padding: 0 0 1em 0;
        h4{
            font-size: 24px;
        }
    }
    .order__content-terms h5{
        font-size: 21px;
    }
    .contacts .contact__form-title {
        font-size: 25px;
    }
    .footer__content {
        flex-direction: column;
        padding-bottom: 60px;
        .info-icons {
            width: 230px;
            .info-icon:first-child{
                margin-left: 15px;
            }
        }
        .footer__info{
            padding-bottom: 25px;
            align-self: baseline;
            margin: 0 1em;
        }
    }
    .footer .info-icon {
        margin-top: 25px;
    }
    .viber__btn {
        bottom: 71px;
        right: 25px;
    }
}
@media screen and (max-width: 430px){
    .nav-menu{
        opacity: 1;
        li{
            opacity: 1;
        }
    }
    .menu__btn{
        display: none;
    }
    .header {
        margin-bottom: 40px;
    }
    .header__main{
        padding-top: 120px;
        .aside-menu {
            .nav-menu li a span{
                margin-right: 17px;
            }
            .nav-menu__one{
                width: 77%;
            }
        }
        &-logo {
            margin-bottom: 60px;
        }
    } 
    .team__item h4 {
        font-size: 22px;
    }
    .team__item span{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .team__item .team__photo-last:after {
        font-size: 34px;
        left: 36%;
        top: 42%;
    }
    .insta__pics{
        &-inner{
            width: 43%;
        }
    }
}
@media screen and (max-width: 400px){
    .footer__box {
        .faq-accordion {
            max-width: 80%;
        }
    }
    .header__main-idea .main-idea__txt {
        text-transform: lowercase;
        letter-spacing: 1px;
        font-size: 17px;
        padding-left: 0;
    }
}
@media screen and (max-width: 376px){
    .header__main{
        .aside-menu {
            .nav-menu__one{
                width: 89%;
            }
        }
    } 
    .team__item .team__photo-last:after {
        font-size: 32px;
        left: 36%;
    }
    .order{
        h4{
            font-size: 21px;
        }
    }
    .insta__pics{
        &-inner{
            width: 42%;
        }
    }
}
@media screen and (max-width: 360px){
    
    .team__item .team__photo-last:after {
        font-size: 32px;
        left: 34%;
    }
    .footer__box {
        .txt-block{
            font-size: 28px;
        }
        .txt-block span {
            font-size: 18px;
            line-height: 26px;
        }
    }
    .footer__content {
        padding-bottom: 50px;
        .info-icons {
            width: 110px;
            .info-icon{
                margin-left: 15px;
            }
        }
    }
    .footer .info-icon {
        margin-top: 20px;
    }
    .viber__btn {
        bottom: 57px;
    }
}