@import 'vars';
@import 'global';
@import 'fonts';


.header__top{
    .slick-slider{
        .slick-prev, .slick-next{
            display: none!important;
        }
    }
    &-inner{
        letter-spacing: 0.07em;
        background-color: $bg;
        padding: 7px 0;
        font-weight: 300;
        position: relative;
        .customer-care{
            position: absolute;
            top: 0;
            left: 0;
            padding-left: 20px;
            z-index: 9;
            img{
                top: 15%;
            }
            a{
                padding: 7px 0 7px 35px;
            }
        }
        .promo-slider{
            margin: 0 auto;
            text-align: center;
            width: 100%;
            max-width: none;
            font-weight: 400;
        }
    }
}


@keyframes rota {
    25% { transform: rotate(360deg); }
}
.tel-popup{
    animation: rota 5s infinite reverse;
    animation-iteration-count: infinite;
    position: absolute;
    top: -5px;
}


@import 'media';