@import 'vars';
@import 'global';
@import 'fonts';

.header{
    margin-bottom: 100px;
}
.header__top{
    margin-bottom: 75px;
    .slick-slider{
        .slick-prev, .slick-next{
            display: none!important;
        }
    }
    &-inner{
        letter-spacing: 0.07em;
        background-color: $bg;
        padding: 7px 0;
        font-weight: 300;
        position: relative;
        .customer-care{
            position: absolute;
            top: 0;
            left: 0;
            padding-left: 20px;
            z-index: 9;
            img{
                top: 15%;
            }
            a{
                padding: 7px 0 7px 35px;
            }
        }
        .promo-slider{
            margin: 0 auto;
            text-align: center;
            width: 100%;
            max-width: none;
            font-weight: 400;
            color: #1e1313;
        }
    }
    .social-list{
        letter-spacing: 0.06em;
        padding: 40px 0;
        ul{
            li{
                position: relative;
                display: inline-block;
                margin-right: 25px;
                a{
                    text-transform: uppercase;
                    &:before{
                        display: inline-block;
                        background: #9bb0dd;
                        z-index: -1;
                        content: "";
                        position: absolute;
                        bottom: 4px;
                        left: 0;
                        height: 0;
                        width: 100%;
                        transition: all .4s cubic-bezier(.77,0,.175,1);
                    }
                    &:hover:before{
                        height: 8px;
                        transition: all .4s cubic-bezier(.77,0,.175,1);
                    }
                }
            }
        }
        &__bar > a{
            &:nth-child(1){
                &:before{
                    background: #ccacc8;
                }
                &:hover:before{
                    height: 8px;
                    transition: all .4s cubic-bezier(.77,0,.175,1);
                }
            }
        }
        &__inner{
            align-items: center;
        }
    }
}
.header__main{
    position: relative;
    &-logo{
        margin-bottom: 100px;
    }
    a{
        font-family: 'Fira Sans', sans-serif;
        color: #333;
        .logo-title{
            font-weight: 300;
            line-height: 45px;
            letter-spacing: 0.03em;
            font-family: 'FiraSans-ExtraBold', sans-serif;
            position: relative;
            z-index: 2;
            margin-bottom: -10px;
            span{
                position: absolute;
                top: 60%;
                left: 83%;
                right: auto;
                font-weight: 100;
                font-size: 53px;
                font-family: 'Fira Sans', sans-serif;
                color: #bdbdbd;
                font-style: normal;
                z-index: -1;
                letter-spacing: -0.08em;
                &:before{
                    position: absolute;
                    @extend %point;
                    background: rgba(251, 92, 206, 0.47);
                    top: 76%;
                    left: initial;
                    bottom: auto;
                }
            }
        }
        .logo-subtitle{
            text-align: center;
            color: $decor;
            font-family: 'Exo 2';
            letter-spacing: -0.02em;
            font-size: 14.5px;
        }
    }
    .aside-menu{
        position: absolute;
        padding: unset;
        top: 0;
        right: 0;
        ul{
            padding: 10px 0;
        }
        .nav-menu{
            border-bottom: 2px solid $decor;
            top: 0;
            right: 0;
            width: 60%;
            height: 47px;
            float: right;
            text-align: right;
            li a{
                cursor: pointer;
                span{
                // color: rgba(251, 92, 206, 0.47);
                color: #f4f4f4;
                margin-right: 30px;
                line-height: 16px;
                letter-spacing: 0.07em;
                font-size: 18px;
                font-family: 'Exo 2', sans-serif;
                font-weight: 400;
                transition: all .4s cubic-bezier(.77,0,.175,1);
                    &:hover{
                        color: rgba(108, 99, 255, 0.7);
                        text-decoration-color: #f4f4f4;
                        transition: all .4s cubic-bezier(.77,0,.175,1);
                    }
                }
            } 
        }
        .nav-menu__one{
            background-color: #4b4b4b;
        }
        .nav-menu__two{
            background-color: #ced5e0;
            width: 80%;
            border-bottom: 2px solid $decor;
            margin-top: 13px;
            padding-top: 12px;
        }
        .nav-menu__three{
            background-color: #f3f5f9;
            font-style: italic;
            padding-top: 12px;
            width: 60%;
            border-bottom: 2px solid $decor;
            li a{
                span{
                    color: #1e1313; 
                }
            }
        }
    }
    &-idea{
        .main-idea__txt{
            text-transform: lowercase;
            letter-spacing: 1px;
            font-size: 21px;
            font-weight: 300;
            font-family: 'Exo 2', sans-serif;
            padding-left: 115px;
        }
    }
}
// start WORKS slider section
.works{
    position: relative;
    margin-bottom: 160px;
    z-index: 2;
}
.image-slider {
    z-index: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 500px;
    &--small{
        display: none;
    }
}
.image-slide {
    min-height: 500px;
    margin: 0 auto;
}
.slick-slide.slick-center {
    transform: scale(1.1);
    transition: transform .8s 1.4s cubic-bezier(.84, 0, .08, .99);
}
.slick-slide {
    transition: transform .7s cubic-bezier(.84, 0, .08, .99);
}
.slider-control {
    margin: 0%;
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: flex;
}
.slick-arrow{
    border: 1px solid rgba(253, 248, 245, 1);
    border-radius: 50%;
    margin: .3em;
}
button {
    background: transparent;
    padding: 12px;
    display: inline-block;
}
.block-1 {
    z-index: 1;
    position: absolute;
    min-height: 500px;
    width: 5%;
    left: 0%;
    background: rgba(75,75,75,0.7);// my modification
}
.block-2 {
    z-index: 1;
    position: absolute;
    min-height: 500px;
    width: 25%;
    left: 25%;
    // background: #9F8047;// my modification
    background-image: linear-gradient(rgb(159, 128, 71), rgb(253, 248, 245));
}
.block-3 {
    z-index: 1;
    position: absolute;
    min-height: 500px;
    width: 5%;
    right: 0%;
    background: rgba(75,75,75,0.7);// my modification
}
.overlay {
    z-index: 1;
    position: absolute;
    min-height: 500px;
    width: 20%;
    left: 5%;
    background: rgba(0, 0, 0, .25); // my modification
    // background: rgba(0, 0, 0, .65);
}
.text-slider-wrapper {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 10%;
}
.text-slider {
    margin: 0%;
    padding: 0%;
    height: 500px;
}
.text-slide h1 {
    color: #fff;
    font-size: 42px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 19%;
}
// end works slider section
// start store-list section
.store-list{
    padding-bottom: 140px;
    h3{
        text-transform: lowercase;
        font-weight: 400;
        margin-bottom: 20px;
        font-family: 'Exo 2';
        a{
            font-size: 30px;
            text-decoration: underline;
            font-variant-caps: all-small-caps;
            text-transform: capitalize;
            font-family: 'Exo 2';
            cursor: pointer;
            &:hover{
                color: #999;
                transition: all 0.5s ease;
            }
        }
    }
}
.big-list{
    display: inline-block;
    margin: 0 3em 1em;
    max-width: 100%;
    span{
        a{
            color: #a53385;
            letter-spacing: 0.05em;
            font-size: 15px;
            transition: all .1s ease;
            position: relative;
            display: inline-block;
            font-weight: 300;
            line-height: 1.3;
            @extend %underline-anim;
            &:before{
                background-color:  rgba(165, 51, 133, 0.822);
                height: 1px;
                width: 0;
            }
            &:hover:before{
                width: 100%;
            }
        } 
    }
    li{
        width: 200px;
        height: 2.5em;
        // float: left;
        min-width: 100px;
        a{
            text-decoration: underline;
            font-size: 15px;
            font-weight: 300;
            padding: 0 3px;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover{
                background-color: #bbbdba;
                text-decoration: none;
            }
        }
        .font-link{
            font-size: 18px;
        }
    }
}
// end store-list section

// start footer
.footer{
    background-color: #f4f4f6;
    .info-icon{
        margin-left: 25px;
        .info-icon__link{
            position: relative;
            display: inline-block;
            font-weight: 300;
            line-height: 1.3;
            letter-spacing: 2px;
            text-transform: uppercase;
            @extend %underline-anim;
            &:before{
                background-color:  rgba(0,0,0,0.4);
                height: 1px;
                width: 0;
            }
            &:hover:before{
                width: 100%;
            }
        }
    }
    .info-list{
        display: block;
        width: 300px;
    }
    .info-title{
        font-size: 16px;
        font-family: 'Exo 2', sans-serif;
        text-transform: lowercase;
        font-weight: 300;
        letter-spacing: 2.4px;
        margin-bottom: 15px;
        margin-top: 0;
        line-height: 20px;
    }
    .info-list{
        letter-spacing: 2.4px;
        font-weight: 300;
        .schedule{
            border: 0.5px dotted #333;
            padding: 5px 10px 5px 15px;
        }
        .info-item{
            margin-bottom: 15px;
            line-height: 28px;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                letter-spacing: 2.4px;
                font-size: 16px;
                color: #333;
                &:hover{
                    color: #c75b78;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
        li+li{
            margin-bottom: 15px;
        }
    }
}
.footer{
    padding-top: 60px;
    z-index: 0;
     border-top: 0.5px solid rgba(158, 127, 71, 0.6);
    &__content{
        align-items: flex-end;
        padding-bottom: 60px;
        justify-content: space-evenly;
    }
    &__box{
        width: 100%;
        height: 200px;
        // background-color: #ececec;
        background: #FDF8F5;
        color: #333;
        right: 0;
        bottom: 0;
        justify-content: space-around;
        .faq-accordion{
            margin-bottom: 0;
            button.accordion {
                width: 390px;
                max-width: 100%;
                padding: 12px 14px;
                font-weight: 300;
                letter-spacing: 0.03em;
                font-size: 18px;
                &:after{
                    background: transparent;
                    color: #1e1313;
                    content: url(../images/icons/plus-black.svg);
                }
            }
            button.accordion.is-open:after {
                content: url(../images/icons/minus-black.svg);
            }
            .accordion-content{
                display: flex;
                justify-content: space-around;
                padding: 14px 0 0;
                a{
                    text-transform: uppercase;
                    font-size: 20px;
                    color: #8d1d6e9c;
                    letter-spacing: 0.03em;
                }
            }
        }
        .txt-block{
            font-size: 32px;
            line-height: 32px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            max-width: 50%;
            font-weight: 300;
            color: #9F8047;
            span{
                display: block;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0;
                text-transform: lowercase;
                margin-top: 20px;
                color: #333333;
            }
        }
        a{
            cursor: pointer;
        }
    }
    &__credits{
        display: block;
        text-align: start;
        padding-left: 15px;
        background-color: #fff;
        border-top: 0.5px solid rgba(158, 127, 71, 0.6);
        a{
            font-size: 12px;
            color: #333;
            line-height: 28px;
            span{
                color: #9F8047;
                text-decoration: underline;
            }
        }
    }
}
@keyframes banner {
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
// end footer

// STORES PAGE
// start store-list section
.store-pics{
    margin-top: 80px;
    display: inline-block;
    &__brands{
        margin: 0 3em;
        max-width: 100%;
        // width: 1840px;
        .brands__letter-index{
            top: 0;
            background: #fff;
            margin-bottom: 20px;
            &:before {
                content: "";
                border-bottom: 1px solid #d3d3d3;
                display: block;
                margin: 8px 0;
            }
            &:after {
                content: "";
                border-bottom: 1px solid #d3d3d3;
                display: block;
                margin: 8px 0;
            }
            .index-list{
                flex: 1 1 auto;
                display: flex;
                overflow-x: auto;
                overflow-y: hidden;
                scroll-behavior: smooth;
                line-height: 24px;
                justify-content: space-around;
                button{
                    font-size: 16px;
                    &:hover{
                        font-weight: 700;
                    }
                }
                .index-letter--inactive{
                    transition: color .5s;
                    color: #d3d3d3;
                    &:hover{
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .store-grid{
        margin: 3em;
        max-width: 100%;
        // max-width: 1840px;
        .store-brick{
            display: none;
            background-color: #ECECEC;
            background-size: cover;
            object-fit: fill;
            background-position: center bottom;
            background-repeat: no-repeat;
            color: #464545;
            display: block;
            float: left;
            height: 10em;
            line-height: 10em;
            margin: 0 2em 2em 0;
            width: 20em;
            text-align: center;
            text-decoration: none;
            text-decoration: underline;
            transition: all 0.5s ease-in-out;
            &:hover{
                color: rgb(224, 224, 224);
                text-decoration: none;
                transform: scale(0.95);
            }
            &__label {
                background-color: #9F8047;
                padding: 10px 30px;
                font-size: 14px;
                &:hover{
                    transform: scale(1.1);
                }
            }
            &__last{
                background: transparent;
                line-height: 30px;
                text-decoration: none;
                text-align: left;
                cursor: pointer;
                &:hover{
                    border-bottom: none;
                    transform: scale(1);
                    color: #333;
                }
                span{
                    font-size: 24px;
                    font-family: 'Exo 2', sans-serif;
                    margin: 0;
                    text-transform: lowercase;
                    font-weight: 300;
                }
                em{
                    color: #9F8047;
                    font-size: 22px;
                    font-weight: 400;
                    text-decoration: underline;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
// end store-pics section
// start list section
.list{
    margin-bottom: 160px;
    ul{
        max-width: 93%;
        li{
            margin-right: 30px;
            margin-bottom: 1.5em;
            a{
                font-size: 16px;
                font-weight: 300;
                padding: 0 3px;
                text-decoration: underline;
                letter-spacing: 0.1em;
                transition: all 0.2s ease-in-out;
                &:hover{
                    background-color: rgb(159, 128, 71);
                    color: rgb(224, 224, 224);
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}
// end list section
// start conditions section
.conditions{
    &__inner{
        background-color: #FDF8F5;
        padding: 50px 0 60px;
    }
    &__items{
        max-width: 1920px;
        justify-content: center;
        margin: 0 auto;
        .flex-block{
            text-align: stretch;
            &__item{
                text-align: center;
                margin-right: 50px;
                margin-left: 50px;
                flex-basis: 25%;
                flex-direction: column;
                img{
                    margin: 0 auto;
                }
                // picture{
                //     display: block;
                //     padding-top: 20px;
                //     margin-bottom: 30px;
                //     .line-animation{
                //         // margin-top: -5px;
                //         stroke-dashoffset: 100;
                //         stroke-dasharray: 100;
                //         &--1{
                //             animation: animdash 10s infinite 5s;
                //         }
                        // &--2{
                        //     animation: animdash 12s infinite 17s;
                        // }
                        // &--3{
                        //     animation: animdash 15s infinite 20s;
                        // }
                        // &--4{
                        //     animation: animdash 18s infinite 24s;
                        // }
                //     }
                //     @keyframes animdash{
                //         to{
                //             stroke-dashoffset: 600;
                //         }
                //     }
                // }
                span{
                    font-weight: 300;
                    font-size: 16px;
                }
            }
        }
    }
}
.footer-stores{
    .footer__content{
        padding-bottom: 0;
    }
}

// end store-list section
// start ORDER PAGE
// order section
.order{
    padding-top: 40px;
    &__content{
        &-title{
            font-style: italic;
            em{
                font-style: normal;
            }
        }
        &-terms{
            h5{
                text-align: center;
            }
            p{
                text-align: center;
                &:before{
                    display: none;
                }
            }
            span{
                text-align: left;
            }
        }
        &-txt{
        line-height: 24px;
            p{
                letter-spacing: 0.025em;
                font-weight: 300;
                font-size: 16px;
                margin-bottom: 25px;
                padding-left: 25px;
                position: relative;
                &:before{
                    content: url(../images/icons/ellypsis.svg);
                    position: absolute;
                    top: -14px;
                    left: -14px;
                }
                a{
                    font-size: 16px;
                    font-weight: 400;
                    text-decoration: underline;
                    letter-spacing: 3px;
                    &:hover{
                        color: rgba(108,99,255,0.8);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
// start faq section
.faq {
    padding-top: 75px;
    &:after {
        content: "";
        background-color: #9F8047;
        height: 1px;
        display: block;
        transition: width .3s;
        width: 100%;
     }   
     &__title {
        text-align: center;
        margin-bottom: 35px;
    }
    &-accordion {
        margin-bottom: 100px;
    }
}
button.accordion {
	width: 100%;
	background-color: #fff;
	border: none;
	outline: none;
	text-align: left;
	padding: 16px 16px;
	font-size: 16px;
    cursor: pointer;
    &:hover {
        color: #292a3f;
        font-weight: 500;
        transition: all 0.2s ease;
    } 
    &:after{
        content: url(../images/icons/plus.svg);
        margin-left: 10px;
        float: right;
        background: $rose;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        margin: 0 auto;
    }
}
button.accordion.is-open:after {
	content: url(../images/icons/minus.svg);
}

.accordion-content {
	padding: 14px 47px 4px 135px;
	border-bottom: 1px solid #cacacc;
	max-height: 0;
	overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    .accordion-txt{
        font-weight: 300;
        letter-spacing: 0.025em;
        line-height: 24px;
    }
}
// end faq section
// start contacts
.contacts{
    padding: 100px 0 80px;
        .flex-block__item{
            display: flex;
            align-items: center;
            .customer-care{
                position: relative;
                // top: 0;
                // left: 0;
                padding-left: 20px;
                // z-index: 9;
                .tel-popup{
                   position: absolute;
                   top: 0;
                   left: -15px;
                }
            }
            img{
                margin-bottom: 15px;
            }
            span{
                font-weight: 500;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                padding-left: 20px;
            }
        }
        .contact__form{
            text-align: center;
            border: none;
            flex-direction: column;
            &-title{
                font-size: 28px;
                font-weight: 300;
                text-align: center;
                margin-bottom: 35px;
                letter-spacing: 0.02em;
            }
        form{
            max-width: 568px;
            margin: 0 auto;
            input, textarea{
                overflow: hidden;
                border: none;
                border-bottom: 1px solid $rose;
                font-size: 16px;
                font-weight: 300;
                background: #fff;
                height: 65px;
                width: 100%;
                padding: 37px 15px 17px;
                color: #333;
                &::placeholder{
                    color: #333;
                    font-weight: 300;
                    letter-spacing: 0.05em;
                    background: #fff;
                }
            }
            textarea{
                margin-bottom: 35px;
            }
            button{
                display: block;
                margin: 0 auto;
                padding: 15px 0;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 18px;
                max-width: 170px;
                width: 100%;
                background-color: #4b4b4b;
                border-color: transparent;
                color: #fff;
                box-shadow: none;
                &:hover{
                    transform: scale(0.99);
                    background: rgba(108, 99, 255, 0.8);
                    transition: all 0.2s ease;
                }
            }
        }
    }
    &__inner{
        padding-top: 100px;
    }
    .customer-care{
        position: relative;
        a{
            padding-left: 5px;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0.025em;
            
            &:hover{
                color: #c75b78;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}
// end contacts
// end ORDER PAGE
// start TEAM page
.header-team{
    margin-bottom: 150px;
}
.about{
    margin-bottom: 50px;
}
.team{
    max-width: calc(1240px + 14%);
    padding: 0 6%;
    margin: 0 auto;
        &__item{
            margin: 0 0 200px;
            width: 56%;
            .team__photo{ 
                display: block;
                padding: 0 0 35% 0;
                position: relative;
                &-last{
                    width: 25%;
                    &:after{
                        position: absolute;
                        content: "+";
                        top: 45%;
                        left: 45%;
                        color: #ff5800;
                        width: 20px;
                        height: 20px;
                        font-size: 54px;
                        font-weight: 300;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top:0;
                    left: 0;
                }
            }
            h4{
                margin-bottom: 15px;
                text-transform: lowercase;
            }
            span{
                display: block;
                margin-bottom: 25px;
                font-size: 16px;
                font-weight: 300;
            }
        }
    &__photo{
        height: 100%;
        max-width: 100%;
        background-color: #f4f4f6;
    }
    .team__item-last{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h4, span{
            width: 25%;
        }
    }
    .team__socials{
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
        color:  rgba(108,99,255,0.7);
        @extend %underline-anim;
        &:before{
            background-color:  rgba(108,99,255,0.7);
            height: 1px;
        }
    }
    &__wrapper{
        justify-content: flex-end;
    }
}
.insta{
    margin-bottom: 100px;
    .customer-care{
        justify-content: flex-end;
        max-width: calc(1520px + 18%);
        padding: 0 6%;
        margin: 0 auto;
        margin-bottom: 25px;
        margin-top: -25px;
        a, span{
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 2.4px;
            font-style: italic;
        }
        a{
            position: relative;
            display: inline-block;
            line-height: 1;
            @extend %underline-anim;
            &:before{
                background-color:  rgb(70, 70, 70);
                height: 1px;
            }
        }
    }
}
.insta__pics{
    margin: 0 1.5em 0 1.8em;
    &-inner{
        margin: 0 0.8em;
        &-item{
            .insta-photo{
                position: relative;
                padding: 0 0 50% 0;
                overflow: hidden;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    height: auto;
                    max-width: 100%;
                }
            }
        }
    }
}
.insta__pics-content{
    margin: 10px 0;
    a, span{
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 1.1px;
        font-size: 14px;
    }
    a{
        font-weight: 300;
        &:hover{
            color: #9F8047;
            text-decoration: underline;
            transition: all 0.5s ease;
        }
        img{
            width: 100%;
        }
    }
}

// end TEAM page
// start ERROR page
.error{
    padding: 10px 0 60px;
    position: relative;
    background-color: #FDF8F5;
    border-top: 0.5px solid rgba(158,127,71,0.6);
    border-bottom: 0.5px solid rgba(158,127,71,0.6);
    &__inner{
        .error-title{
            text-transform: lowercase;
            font-size: 25px;
            font-weight: 400;
            span{
                font-style: italic;
            }
        }
        &-center{
            text-align: center;
            .error-number{
                font-size: 160px;
                display: block;
            }
            .error-circle{
                animation: text-animation 15s infinite linear;
                position: absolute;
                top: 20%;
                left: 57.5%;
                font-size: 12px;
                font-weight: 700;
                transform: translate(-50%, -50%);
                transition: all .5s ease-out;
                // -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
            }
            span > a{
                transition: all .1s ease;
                position: relative;
                display: inline-block;
                font-weight: 300;
                line-height: 1.3;
                @extend %underline-anim;
                &:before{
                    background-color:  rgba(108,99,255,0.8);
                    height: 1px;
                    width: 0;
                }
                &:hover:before{
                    width: 100%;
                }
            }
            a:hover{
                color: rgba(108,99,255,0.7);
            }
        }
    }
}

// end ERROR page

@import 'media';

